/**{outline: 1px solid rgba(225,0,0, 0.4);}*/
.contbody {
  background: rgba(21, 33, 45, 0.9);
  height: auto;
}

.container {
  padding-top: 40px;
}

nav {
  height: auto;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

nav li {
  flex: auto;
  text-align: center;
  font-size: 3em;
}

nav li:nth-child(1) {
  background: #336194;
}

nav li:nth-child(2) {
  background: #1A97B3;
}

nav li:nth-child(3) {
  background: #40C0CB;
}

nav li:nth-child(4) {
  background: #AEE238;
}

nav li:nth-child(5) {
  background: #8DBF00;
}

nav li a {
  height: 140px;
  width: 100%;
  display: block;
  color: #000;
  padding-top: 60px;
  text-decoration: none;
}

nav li a:hover {
  color: #fff;
  transition-duration: 1s;
  text-decoration: none;
}

#home .cont-info {
  height: 400px;
}

#home .cont-info .info_home {
  width: 60%;
  height: 100%;
  background: #fff;
  padding: 20px;
}

#home .cont-info .info_home h1 {
  margin-bottom: 30px;
}

#home .cont-info .info_home p {
  font-size: 1.2em;
}

#home .cont-info .photo_home {
  width: 40%;
  height: 100%;
}

#home .cont-info .photo_home img {
  height: 100%;
  width: 100%;
}

#home .social_media li {
  list-style: none;
  display: inline-block;
  width: 150px;
  margin-right: 20px;
  margin-top: 10px;
  text-align: center;
}

#home .social_media li a {
  height: 92px;
  line-height: 97px;
  width: 100%;
  font-size: 35px;
  color: #8B8382;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.3);
}

#home .social_media li a:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  transition-duration: 1s;
}

#home .social_media li .cv_download_btn {
  color: #dedede;
  font-size: 25px;
  width: 320px;
}

#about {
  background: #fff;
  padding: 20px;
}

#about .title .icon {
  float: left;
  padding: 10px;
  font-size: 30px;
  background: #1A97B3;
  color: #fff;
  width: 50px;
  text-align: center;
}

#about .title hr {
  margin: 0;
  height: 1.4px;
  background: #1A97B3;
  width: 30%;
}

#about .title .text {
  font-size: 1.4em;
  margin-left: 60px;
  padding-top: 10px;
}

#about .title .clear {
  clear: both;
}

#about .text {
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

#about .personal_details .icon {
  font-size: 1.3em;
  color: #1A97B3;
  float: left;
}

#about .personal_details .icon span {
  margin-left: 8px;
  color: #000;
}

#about .personal_details .text {
  margin-left: 200px;
}

#about .Herramientas li {
  list-style: none;
  line-height: 5;
}

#about .Herramientas li a {
  text-decoration: none;
  color: #fff;
  background: #1A97B3;
  width: 120px;
  font-size: 1.2em;
}

#about .logros .date {
  background: #1A97B3;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  padding-left: 10px;
}

#about .logros .et {
  margin: 0;
  height: 1px;
  background: #000;
  margin-bottom: 10px;
}

#about .logros .award_title {
  margin-left: 15px;
}
