doctype html5
html(lang="es")
head
	title PORTAFOLIO
	meta(charset="UTF-8")
	meta( http-equiv="X-UA-Compatible",content="IE=edge")
	meta(name="viewport",content="width=device-width, initial-scale=1")

	link(rel="stylesheet",href="css/bootstrap.min.css")
	link(rel="stylesheet",href="css/font-awesome.min.css")
	link(rel="stylesheet",href="css/styles.css")
body(style="background: url('./img/1.jpg') center 0 no-repeat;background-size: cover;background-attachment: fixed;")
	.contbody
		.container
			.col-md-1
			.col-md-10
				nav
					ul
						li
							a#item_menu.home.fa.fa-home(href="#")
						li
							a#item_menu.user.fa.fa-user(href="#")
						li
							a#item_menu.resume.fa.fa-tasks(href="#")
						li
							a#item_menu.portafolio.fa.fa-picture-o(href="#")
						li
							a#item_menu.contac.fa.fa-envelope(href="#")
				.content
					.panel-container
						#home
							.cont-info
								.info_home.pull-left
									h4 Fornd-Developer
									h1 SANDRA CHAMBI LUQUE
									P Joven dinamica, pro-activa y con actitudes para desempeñarse eficientemente con grupos sociales y a presion, capacidad de desenvolvimiento a todo nivel jerarquico y con gran vocacion de servicio.

									hr 
									h3 (054) 958115108
								.photo_home.pull-right
									img.img-responsive(src="img/samy.jpg")
							.social_media
								ul
									li
										a.fa.fa-google-plus(href="#")
									li
										a.fa.fa-flickr(href="#")
									li
										a.fa.fa-github(href="#")
									li
										a.cv_download_btn.fa.fa-download(href="#") Download my CV

						#about
							h1.title.color SOBRE MI
							.left_side
								.box.quien_soy
									.title
										.icon.fa.fa-user
										.text QUIÉN SOY
										hr.divi
										.clear
									.text My nombre es  Sandra Veronica y yo soy una desarrolladora web
									.personal_details
										.item
											.icon.fa.fa-user
												span Name
											.text Sandra Veronica
											.clear

										.item
											.icon.fa.fa-calendar
												span Cumpleaños
											.text 17 marzo 1988 
											.clear
										.item
											.icon.fa.fa-mobile
												span Teléfono
											.text 958115108
											.clear
										.item
											.icon.fa.fa-envelope
												span Email
											.text sandrasarang77@gmail.com
											.clear
								.box.Herramientas
									.title
										.icon.fa.fa-wrench
										.text HERRAMIENTAS QUE USO
										hr.divi
										.clear
									.tools
										ul
											li
												a.tool.btn(href="#") Photoshop
											li
												a.tool.btn(href="#") Coreldraw
											li
												a.tool.btn(href="#") jQuery
											li
												a.tool.btn(href="#") Wordpress
											li
												a.tool.btn(href="#") Boostrap
								.box.logros
									.title
										.icon.fa.fa-trophy
										.text MIS LOGROS
										hr.divi
										.clear
									.awards
										.award
											.date 2012
											hr.et
											.body
												strong.award_title Logro 1º &bull; Instituto Superior Honorio Delgado Espinoza
												.text El haber ocupado los primeros puestos, Campeón en juegos inter Institutos vóley y fútbol, La obtención de media beca 




			.col-md-1